/************ Google Fonts import ************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/************ CSS Variables ************/
:root {
    /************ Colors ************/
    --background-color: #1d1a21;
    --foreground-white: #ffffff;
    --window-color: #252733;
    --highlight-blue: #4f9aff;
    --correct-green: #4eb738;
    --wrong-red: #e83c5a;
    --star-gold: #f59527;
    --reverse_btn-hover: rgba(255, 255, 255, 0.2);

/************ Typography ************/
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /************ Background images ************/
    background-color: var(--background-color);
    /*
    background-image: url(../images/lightbulb-silversoul.svg),
    url(../images/pop-quiz.svg),
    url(../images/bg-template-welcome.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left -16px top -22px, right -13px top 24px, top center;
    background-size: 210px auto, 270px auto, 390px auto;
    */
    /* background: var(--background-color); */
    color: white;
}

/************ Typography ************/
h2 {
    font-family: var(--primary-font);
    font-weight: 800;
    color: var(--highlight-blue);
    padding-bottom: 1rem;
}

p,
ol {
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 25px;
}

li {
    margin-bottom: 0.35rem;
}

button, span {
    font-weight: 700;
}

.quiz_score i {
    color: var(--star-gold);
}

/************ Containers ************/

#info_panel,
#rules_panel,
.quiz_panel,
#difficulty_panel,
#results_panel {
    position: absolute;
    z-index: 5;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border-radius: 8px;
    background-color: var(--window-color);
}

#info_panel {
    opacity: 1;
    padding: 18px 18px;
}

#rules_panel {
    list-style-position: inside;
    opacity: 0;
    pointer-events: none;
    padding: 18px 18px;
}

.quiz_panel {
    opacity: 0;
}

#difficulty_panel {
    height: 380px;
    padding: 18px 18px;
}

#results_panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 18px 18px;
}

.show {
opacity: 1;
pointer-events: auto;
}

/************ Elements ************/
#quiz_header {
 position: relative;
 z-index: 2;
}

#quiz_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-top: 1px solid var(--foreground-white);
    padding: 18px 18px;
}

.question_total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 18px 5px 18px;
    border-bottom: 1px solid var(--foreground-white);
}

.quiz_timer {
    background-color: var(--highlight-blue);
    border-radius: 32px;
    padding: 5px 17px;
    font-family: var(--primary-font);
    color: var(--background-color);
    font-weight: 800;
}

#quiz_questions {
    padding: 18px 18px;
}

.question_title {
    font-family: var(--primary-font);
    font-size: 18px;
    padding: 12px 0;
}

#results_panel .results_icon {
    font-size: 100px;
    margin-bottom: 10px;
}

/************ Scores Form ************/

form {
    display: flex;
    flex-direction: column;
}

input {
    font-family: var(--primary-font);
    color: var(--background-color);
    padding: 8px;
    width: 100%;
    border-radius: 8px;
}

/************ Buttons ************/

.buttons {
    height: 48px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 17px;
    padding: 5px 17px;
    border-radius: 32px;
    cursor: pointer;
}

.outline_btn {
    background: transparent;
    border: 1px solid var(--highlight-blue);
    color: var(--highlight-blue);
}

.reverse_btn {
    background: var(--highlight-blue);
    color: var(--background-color);
    border: none;
}

.answer_btn {
    border: 2px solid var(--highlight-blue);
    border-radius: 8px;
    background: transparent;
    color: var(--foreground-white);
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    text-align: left;
    margin: 6px 0;
}

.nextQuestion_btn {
    background-color: var(--correct-green);
}

.outline_btn:hover {
    background: var(--foreground-white);
}

.reverse_btn:hover {
    color: var(--foreground-white);
}